
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    width: 100%;
    
}

.time {
    position: absolute;
    top: 10px;   /* Umiestni čas 10px od vrchu */
    right: 10px; /* Umiestni čas 10px od pravej strany */
    font-size: 18px; /* Nastav veľkosť písma podľa potreby */
    font-weight: bold;
}


.responsive-image {
    width: 100%;  /* Nastaví obrázok na 100% šírky rodičovského kontajnera */
    height: auto; /* Udržuje pôvodný pomer strán obrázka */
    max-width: 700px; /* Zabezpečuje, že obrázok neprekročí šírku kontajnera */
}
